a {
    text-decoration: none;
    color: #FFF;   
}

a:hover {
    text-decoration: none;
    color: #FFF
    
}

.exodia-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin-top: 125px;
}

.container-1 {
    background-color: thistle;
    width: 30vw;
}

.container-2 {
    display: inline-flex;
    background-color: tomato;
    width: 70vw;
    padding: 20px;
    flex-wrap: wrap;
}

.box {
    flex: 1 1 49%;
    padding: 10px;
    margin: 5px;
    background-color: #202020;
    border-radius: 7.5px;
    align-self: center;
}

.box:hover {
    transform: scale(1.025);
    transition: transform 0.5s;
}

.section_title {

}

.about_section {

}

.bottom_section {

}

