a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

.exodia-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    min-height: 100vh;
}

.container-1 {
    background-color: thistle;
    width: 30vw;
    position: fixed;
}

.container-2 {
    display: inline-flex;
    background-color: tomato;
    width: 70vw;
    padding: 20px;
    flex-wrap: wrap;
}

.box {
    flex: 1 1 45%;
    padding: 20px;
    margin: 25px;
    background-color: #202020;
    border-radius: 7.5px;
    align-self: center;
}

.box:hover {
    transform: scale(1.025);
    transition: transform 0.5s;
}

.section_title {
    font-size: 40px;
    font-weight: bold;
}

.about_section {
    font-size: 24px;
}

.bottom_section {
    font-size: 20;
}