* {
    background-color: rgb(19, 19, 20);
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #e6e6e6
}

.error-container {
    margin: 0 auto;
}

    .error-container img{
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .error-container p{
        font-size: 16px;
    }

.btn-primary {
    background-color: transparent;
    border: 1px solid #007bff;
    color: #007bff;
    font-size: 16px;
    cursor: pointer;
  }
  
    .btn-primary:hover {
        color: #e6e6e6;
    }
    .btn-primary:focus {     
        display: none;    
    }
  #style:focus {     
    background-color:yellow;    
}
