* {
    background-color: rgb(19, 19, 20);
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #e6e6e6
}

#wrapper {
    min-height: 100vh;
    position: relative;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

.container {
    padding: 50px;
    text-align: center;
}

.container h1 {
    font-size: 110px;
}

.container h2 {
    font-size: 27.5px;
}

.error-container {
    margin: 0 auto;
}

    .error-container img{
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .error-container p{
        font-size: 16px;
    }

.btn-primary {
    background-color: transparent;
    border: 1px solid #007bff;
    color: #007bff;
    font-size: 16px;
    cursor: pointer;
  }
  
    .btn-primary:hover {
        color: #e6e6e6;
    }
    .btn-primary:focus {     
        display: none;    
    }
  #style:focus {     
    background-color:yellow;    
}


.socials {
    font-size: 35px;
    margin-top: 20px;
}

.socials i {
    color: grey;
}

.socials i:hover {
    color: #eeeeee;
}
